.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 250px;
  }

  #block1, #block2{
      display: inline;
  }

  table {
    width: 100%;
  }
