
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img style="border-radius:50% ;" src="" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form [formGroup] = "form" (ngSubmit)="onSubmit()">
        <input matInput formControlName="username" type="text" id="login" class="fadeIn second" name="login" placeholder="username" [(ngModel)]="user.username">
        <input matInput formControlName="password" type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="user.password">
        <div class="button-row">
          <button  mat-raised-button color="primary" type="submit">Login</button>
        </div>
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>
